/* font-family: 'Source Sans Pro', sans-serif; */

.d-flex{
    display: flex;
    justify-content: space-between;
}
header{
    background-color: #615656;
    width: 100%;
    position: fixed;
    padding: 0 3%;  
    z-index: 9999;
}
 header, nav ul{
     vertical-align: middle;
    display: flex;
    justify-content: space-between;
    line-height: 4;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
.logo{
    background-color: #DEDEDE;
    font-weight: 700;
}
nav {
    width: 80%;
}
nav ul li{
    padding: 0 3%;
    height: 100%;
    color: #DEDEDE;
}
nav ul li:hover{
    background-color:#DEDEDE;
    color:black;
}



/* body, html{
    height: 100%;
}
.parallax, .parallax2{
    background-image: url(/img/Group52.jpg);
    background-color: black;
    height: 300px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2{
    background-image: url(/img/lee-campbell-DtDlVpy-vvQ-unsplash.jpg);

} */

.first-box div{
   padding: 5%;
}
.first-box img{
    width: 100%;
    position: relative;
}
.first-box div{
    position: absolute;
    left: 5%;
    top: 40%;

}
.first-box div h1{
    margin-top: 10px;
    color: #DEDEDE;
    font-size: 48px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}
.first-box div p{
    font-size: 24px;
    margin-top: 50px;
    color: #DEDEDE;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
}

/* ************* */

.intro{
    padding: 5% 10%;
}
.intro h1, p{
    font-size: 42px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    line-height: 3;
}
.intro p{
    font-size: 22px;
    font-weight: 300;
    line-height: 1;
}
.intro h6{
    font-size: 26px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    line-height: 2;
    font-weight: 500;
}

.van-types-list{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

/* ******* */
.button-1{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 10px 50px;
    background-color:#615656;
    border: none;
    border-radius: 14px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.button-1 p{
    margin-top: 12px;
}

/* *************
***********************888
***********************8
********************
*******************
************************ */

.section2{
    padding: 5% 10%;
    
}
.section2 h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 42px;
    letter-spacing: 2px;
    font-weight: 500;
}
.section2 h6{
    font-size: 34px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2;
    letter-spacing: 2px;
    color: white;
}
.section2 p{
    color: white;
    font-size: 20px;
    line-height: 1;
    font-weight: 300;
}
.findYourVan-box{
    margin: 50px 0;
}
.findYourVan-box div{
    background-image: linear-gradient(#848bacde, #bb8e8ec2, #5f5661b7);
    padding: 2% 3%;
}

.button-2{

    border: white 2px solid;
    border-radius: 14px;
    background-color: transparent;
    padding: 20px;
    font-size: 20px;
    margin: 50px 90px;
    margin-bottom: 0;
}
.button-2:hover{
    cursor: pointer;
    background-color: white;
    
}
.button-2:hover>p{
    color: black;
}
/* *************8
*****************888
******************
***************** */
.section3{
    width: 100%;
    padding: 5% 15%;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    background-image: linear-gradient(#848bacde, #bb8e8ec2, #5f5661b7);
}
.text{
    text-align: center;
}
.section3 h1{
    font-size: 34px;
    
    font-weight: 600;
}
.section3 h2{
    font-size: 28px;
    font-weight: lighter;
    line-height: 4;
}
.section3 h6{
    font-size: 22px;
    margin-top: 20px;
}

.section3 .vans-list div{
    vertical-align: middle;
    align-items: center;
    text-align: center;
    margin: 5% 0;
}
.section3 .vans-list div:first-child{
    margin-top: -50px;
}
.section3 p {
    font-size: 18px;
    line-height: 1;
    margin-top: 10px;
    font-weight: lighter;
}
.divider{
    margin: 50px auto;
    width: 400px;
    height: 2px;
    background-color: white;
}
.h3{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 3;
}
.overflow{
    overflow: hidden;
}
.buttons-box{
    padding: 0 30%;
}
.buttons-box button{
    cursor: pointer;
    width: 200px;
    margin-top: 50px;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 14px;
    font-size: 20px;
    color: white;
    padding: 10px ;
}
.buttons-box button:hover{
    background-color: white;
    color: black;
}

/* ***********8
***************8
***************************888
***********************88888
 */
 .section4{
    width: 100%;
    padding: 5% 15%;
    
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;

 }
 .section4 h1{
    font-size: 42px;
    font-weight: 600;
    line-height: 2;
 }
 .section4 h6{
     font-size: 28px;
     line-height: 4;
 }
 .section4 .d-flex div{
     
     text-align: center;
 }
 .section4 .d-flex div button{
    cursor: pointer;
    width: 300px;
    background-color: transparent;
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 14px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 10px ;
 }
 .section4 .d-flex div button:hover{
     background-color:#615656;
     color: white;
     border: inherit;
     font-weight: lighter;
 }

 /* ***********8
 *******************************8
 ***************************8 */
 footer div ul{
     
     font-family: 'Source Sans Pro', sans-serif;
     color: white;
     font-size: 18px;
     font-weight: lighter;
 }
 footer div ul a:hover{
     opacity: 0.7;
 }
 footer{
     width: 100%;
     padding: 2% 5%;
     background-color:#615656 ;
 }
 footer div ul:first-child{
     width: 80%;
 }
 footer div ul:last-child{
     width: 10%;
 }
 /* ****************************
 **********************************
 
 *****************************************
 *******************************************
 ***********************************
 ************************************************************
 ***************************************
 ******************
 *
 *
 *
 *
 *
 *
 ********************
 *
 *
 *
 *
 *********************************
 ***********************************
 *************************************
 *************************************************************8*/
 @media(max-width:381px){
    
    header{
        max-width: 381px;
        width: 100%;
    }
    .logo{
        line-height: 3;
    }
    .responsive-header-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .burger{
        position: relative;
        cursor: pointer;
        width: 50px;
        height: 40px;
        margin-top: 3.5%;

    }
       .burger-divider{
           width: 30px;
           height: 3px;
           background-color: #DEDEDE;
           border-radius: 20px;
           position: absolute;
           transform: translate(-50%, -50%);
           left: 50%;
           transition: transform .3s linear;
       }
       .burger-divider:first-child{
           position: absolute;
           top: 30%;
           transition: width .3s;
       }
       .burger-divider:nth-child(2){
           position: absolute;
           top: 50%;
           transition: width .3s;
       }
       .burger-divider:nth-child(3){
           position: absolute;
           top: 70%;
           transition:width .3s;
       }
       /* ************ burger active ************/
       .burger.active .burger-divider:first-child{
           width: 10px;
           left: 70%;
           transition:  .3s;
       }
       .burger.active .burger-divider:nth-child(2){
           width: 20px;
           left: 60%;
           transition:  .3s;
       }
       header{
           position: fixed;
           top: 0;
           left: 0;
           display: flex;
           flex-direction: column;
       }
   nav{
      
       width: 100%;
   }
   nav ul{
       position: fixed;
       width: 100%;
       max-width: 381px;
       flex-direction: column;
       justify-content: space-between;
       background-color: #615656;
       padding: 5% 0;
       top: 7.9%;
       left: 100%;
       transition: left .3s linear;
       text-align: center;
       z-index: 100;
   }
   nav ul li a{
       line-height: 1;
   }
   nav ul.active{
       left: 0;


   }

   /* *********** */
   .d-flex{
       display: flex;
       flex-direction: column;
   }
   .parallax{
       width: 100%;
    
   }
   .first-box div{
       top: 12%;
       left: 5%;
   }
   .first-box div h1{
       font-size: 20px;
   }
   .first-box div p{
       font-size: 16px;
       margin: 20px 0;
       line-height: 1;
   }

   /* ************* */
   .intro h1{
       line-height: 1;
       font-size: 30px;
   }
   .intro p{
       margin-top: 20px;
       font-size: 20px;
   }

   .van-types-list{
       flex-direction: column;
       text-align: center;
   }
   .van-types-list div{
       margin-top: 50px;
   }
   .van-types-list div img{
       width: 100%;
   }
   .button-1{
       width: 250px;
       font-size: 18px;
       padding: 10px 20px;
       
   }
   .button-1 p{
       margin-top: 5px;
   }
   .button-1 img{
       width: 30px;
   }

   /* ******************* */

   .section2{
       padding: 20% 0;
   }
   .section2 h1{
       font-size: 30px;
   }
   .section2 h6{
       font-size: 20px;
       line-height: 3;
   }
   .section2 p{
       font-size: 18px;
   }
   .button-2{
       padding: 10px;
       width: 200px;
       margin: 40px 70px;
      
   }
   .section2 div{
       margin-top: 20px;
   }
   /* **************88
   **************************** */
   .section3 h1{
       font-size: 20px;
   }
   .section3 h2{
       font-size: 18px;
       line-height: 1;
       margin-top: 20px;
   }
   .section3 .text{
       margin-bottom: 80px;
   }
   .divider{
       margin: 0 auto;
       width: 100%;
   }
   .section3 .buttons-box{
       margin: 0 auto;
   }
   .section3 button{
       margin-left: 0;
   }
   /* ****************************
   ***********************************8
   ******************************************8888
   ************************************* */
   .section4{
       padding: 0;

   }
   .section4 h1{
       font-size: 30px;
       text-align: center;
       line-height: 4;
   }
   .section4 h6{
       font-size: 20px;
       line-height: 3;
   }
   .section4 .d-flex div{
       margin-bottom: 50px;
   }

   /* ***********88
   ***********************888
   *********888 */
   footer div.d-flex{
       display: flex;
       flex-direction: row;
   }

}
 